<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<title>
		{% block title %}
		{% endblock %}
	</title>
</head>
<body>
<!-- <a href="/">Home</a>| -->
<a href="{% url 'photoapp:home' %}">Home</a>|
<a href="{% url 'photoapp:companylist' %}">Companies</a>|
<a href="{% url 'photoapp:sendemail' %}">Form</a>|
<a href="{% url 'photoapp:contact' %}">Contact-us</a>|
<a href="/laptop/create/">Create Laptop</a>|
<a href="{% url 'photoapp:registration' %}">Registration-Form</a>
<!-- <p>{{request.user}}</p> -->
<hr>


{% block content %}


{% endblock %}
</body>
</html>