{% extends 'base.html' %}

{% block title %}
       	Companies
		{% endblock %}

<h2>All Companies::</h2>

{% block content %}
{% for i in allcompanies %}
<!-- <b><li><a href="/company/{{i.id}}/detail/">{{i.title}}</a></li></b> -->
<b><li><a href="{% url 'photoapp:companydetail' i.pk %}">{{i.title}}</a></li></b>

{% endfor %}

{% endblock %}