{% extends "base.html" %}

{% block title %}
       	{{companyobject.title}}
		{% endblock %}




{% block content %}
<a href="/company/list/"><button style="color: red">Back</button></a><br>
<img src="{{companyobject.logo.url}}" width="200" >
<h3>{{companyobject.title}}(Viewed:{{companyobject.view_count}})</h3>
<p>{{companyobject.description}}</p>

<h3>Laptops</h3>
<div class="row">
{% for lptp in companyobject.laptop_set.all %}
 <div class="col-md-3">
<li>{{lptp.model_no}}</li>
<img src="{{lptp.image.url}}" class="img-fluid"  style="height: 200px; object-fit: cover">
<p><b>{{lptp.processor}}</b></p>

</div>
{% endfor %}
</div>
{% endblock %}