{% extends 'base.html' %}

{% block title %}
       	Contact
		{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-4 mx-auto">
		<h3>
			Contct Us
		</h3>
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-info">Contact</button>
		</form>
		
	</div>
	
</div>


{% endblock %}