{% extends 'base.html' %}

       {% block title %}
       	Home
		{% endblock %}

{% block content %}


<div class="row">
	<div class="col-md-3">
		<li>
			<a href="/">All Laptops</a>
		</li>
		{% for company in companies %}
		<li><a href="/company/{{company.id}}/detail/">{{company.title}}</a></li>
		{% endfor %}
	</div>
	<div class="col-md-9">
		<h3>All Laptops</h3><hr>
		<div class="row">
			{% for laptop in alllaptops %}
			<div class="col-md-3">
				<h4>{{laptop.model_no}}</h4>
				<img src="{{laptop.image.url}}" class="img-fluid" style="height: 150px; object-fit: cover;">
				<p>Company:{{laptop.company.title}}</p>
				<a href="{% url 'photoapp:laptopdetail' laptop.pk %}">View Detail</a>
				<!-- <a href="/laptop/{{laptop.pk}}/detail/">View Detail</a> -->

			</div>
			{% endfor %}
		</div>

		
	</div>
</div>

{% endblock %}