{% extends 'base.html' %}



{% block content %}
<h2>Laptop Form</h2>
<div class="row">
	<div class="col-md-4 mx-auto">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-primary">Submit Data</button>
		</form>
	</div>
</div>
{% endblock %}