{% extends "base.html" %}
{% block content %}
<a href="/"><button style="color: red">Back</button></a><br>


<div class="row">
 <div class="col-md-12">
<li>{{laptopobject.company}}</li>
<li>{{laptopobject.model_no}}</li>
<img src="{{laptopobject.image.url}}" class="img-fluid"  style="height: 200px; object-fit: cover" >
<p><b>{{laptopobject.processor}}</b></p>
<p><b>{{laptopobject.description}}</b></p>
</div>
</div>
{% endblock %}