
{% extends 'base.html' %}



{% block content %}

<div class="row">
	<div class="col-md-4 mx-auto">
		<b><u>Registration Form</u></b>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-primary">Submit</button>
</form>
</div>
</div>

{% endblock %}