{% extends 'base.html' %}

{% block title %}
       	Mailing
		{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4 mx-auto">
		<h3>Form</h3>
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-info">Submit</button>
		</form>
	</div>
	
</div>


{% endblock %}